 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #070707;
    color: #e7e3e3;
    line-height: 1.6;
}

header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 150px; /* Ajuste a altura conforme necessário */
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #0e0d0d;
    text-decoration: none;
    font-size: 18px;
}

.search-container {
    display: flex;
    align-items: center;
}

#search {
    padding: 5px;
    font-size: 16px;
}

#search-btn {
    padding: 6px 12px;
    margin-left: 10px;
    background-color: #ff6b6b;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

main {
    padding: 20px;
}

.featured, .popular {
    margin-bottom: 40px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.video {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

video {
    width: 100%;
    border-radius: 10px;
}

.video-title {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
}

.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.photo {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.photo img {
    width: 100%;
    border-radius: 10px;
}

.photo-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
}

footer {
    background-color: #000000;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
